/* associando estilos pelo id dos elementos */

#cabecalho {
    background-color: #1E3A8A;
}

#rodape {
    background-color: #E5E5E5;
}

#btnh {
    background-color: #F97316;
    color: #ffffff;
}

